@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600&family=Yeseva+One&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* Por defecto es 100%, 62,5% cambia la base de 16px a 10px */
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  background-color: #FFFCFA;
  font-family: 'Heebo', sans-serif;
  overflow-x: hidden;
}

/* Navegación */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EDA7A2;
  -webkit-filter: drop-shadow(0px 6px 8px rgba(0, 0, 0, 0.17));
          filter: drop-shadow(0px 6px 8px rgba(0, 0, 0, 0.17));
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 4;
}

dl, ol, ul {
  margin-bottom: 0px;
}

#logoPrincipal {
  width: 15rem;
}

.logo {
  margin-left: 5.5rem;
}

.navegacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 68%;
  height: 146px;
}

.navegacion li {
  list-style: none;
}

.navegacion a {
  text-decoration: none;
  font-family: 'Yeseva One', cursive;
  color: whitesmoke;
  font-size: 2.5rem;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.navegacion li a:hover {
  color: #562923;
  text-decoration: underline;
}

.hamburguesa {
  display: none;
}

.hamburguesa div {
  width: 25px;
  height: 3px;
  background-color: whitesmoke;
  margin: 5px;
}

/*Tu piel*/
.formularios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formularios #videoDada {
  margin: 8rem 5rem 15rem 5.5rem;
}

.formularios .formulariosPiel_inicio {
  margin: 11rem 0rem 15rem 0rem;
}

.formularios .formulariosPiel_inicio h1 {
  font-family: 'Yeseva One', cursive;
  font-weight: 400;
  line-height: 5rem;
  font-size: 3.8rem;
  margin-left: 5.5rem;
}

.formularios .formulariosPiel_inicio p {
  font-size: 2rem;
  margin-left: 5.5rem;
  line-height: 1.5;
  margin-top: 1.5rem;
}

.botonLarge {
  margin-left: 5.5rem;
  margin-top: 3.5rem;
  background-color: white;
  border: 1px solid #436447;
  border-radius: 8px;
  width: 31.6rem;
  height: 4.9rem;
  color: #436447;
  font-weight: 500;
  font-size: 1.6rem;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.botonLarge:hover {
  -webkit-transform: translate(0.6rem);
          transform: translate(0.6rem);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(44.79%, #4F7854), to(#365239));
  background: linear-gradient(180deg, #4F7854 44.79%, #365239 100%);
  color: white;
}

/*Inicio sesion*/
.formularios {
  margin-bottom: 3rem;
}

.formularios .imagenLogin {
  height: 55rem;
  width: 55rem;
}

.formularios .subtitulosInput {
  font-family: 'Yeseva One', cursive;
  margin-left: 5.5rem;
  font-size: 4rem;
}

.formularios .datosLogin {
  margin-left: 5.5rem;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.formularios #mail, .formularios #password {
  margin-left: 5.5rem;
  border: 2px solid rgba(0, 0, 0, 0.23);
  border-radius: 8px;
  width: 316px;
  height: 48px;
  text-align: center;
}

.formularios .recuerdame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
  margin-left: 5.5rem;
  border: none;
}

.formularios .recuerdame fieldset h4 {
  margin-left: 5.5rem;
}

.formularios .recuerdame #check {
  margin-left: 1.5rem;
}

/*Error 404*/
.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error__imagen {
  width: 60rem;
  height: 60rem;
  -webkit-filter: drop-shadow(0px 6px 8px rgba(0, 0, 0, 0.17));
          filter: drop-shadow(0px 6px 8px rgba(0, 0, 0, 0.17));
  margin: 1rem 7rem 3rem 0rem;
}

.error__contenedor {
  width: 43.4rem;
}

.error__contenedor__titulo {
  font-family: 'Yeseva One', cursive;
  font-size: 5.3rem;
  padding: 0rem 0rem 4rem 0rem;
}

.error__contenedor__subtitulo {
  font-family: 'Yeseva One', cursive;
  font-size: 3rem;
  padding-bottom: 3rem;
}

.error__contenedor__descripcion {
  font-size: 2rem;
  width: 30rem;
  line-height: 1.2;
}

.botonLarge_Error {
  margin-top: 2.5rem;
  background-color: white;
  border: 1px solid #436447;
  border-radius: 8px;
  width: 31.6rem;
  height: 4.9rem;
  color: #436447;
  font-weight: 500;
  font-size: 1.6rem;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.botonLarge_Error:hover {
  -webkit-transform: translate(0.6rem);
          transform: translate(0.6rem);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(44.79%, #4F7854), to(#365239));
  background: linear-gradient(180deg, #4F7854 44.79%, #365239 100%);
  color: white;
}

/* Footer */
.footer {
  background-color: #EDA7A2;
  width: 100%;
  height: 211px;
}

.footer .footer__seguinos {
  color: #562923;
  font-size: 2rem;
  font-weight: 700;
  line-height: 4;
  margin-left: 5.5rem;
}

.footer .footer__redes {
  margin-left: 5.5rem;
  height: 10%;
  width: 26%;
  display: inline;
}

.footer__logo {
  width: 10%;
  margin-left: 60%;
}

/* Home */
.imagen__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.imagen__home .imagen__home__mano {
  margin-right: 0;
  width: 60rem;
  height: 90rem;
  margin-left: 52.5%;
  margin-top: -170px;
}

.titulo__principal {
  font-family: 'Yeseva One', cursive;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3;
  margin-left: 5.5rem;
  margin-top: -450px;
}

.texto__principal {
  font-size: 2rem;
  margin-left: 5.5rem;
  line-height: 1.5;
  margin-top: 1.5rem;
}

.botonMedium {
  margin: 2.5rem 0rem 4.5rem 5.5rem;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  border: 1px solid #436447;
  background-color: white;
  border-radius: 8px;
  width: 16rem;
  height: 4.9rem;
  color: #436447;
  font-weight: 500;
  font-size: 1.6rem;
}

.botonMedium:hover {
  -webkit-transform: translate(0.6rem);
          transform: translate(0.6rem);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(44.79%, #4F7854), to(#365239));
  background: linear-gradient(180deg, #4F7854 44.79%, #365239 100%);
  color: white;
}

.subtitulos {
  font-family: 'Yeseva One', cursive;
  text-align: center;
  line-height: 6.4rem;
  font-size: 3.8rem;
}

.tendencias {
  background-color: #C9D781;
  text-align: center;
}

.tendencias #tendencias__titulo {
  padding: 3rem 0rem 2rem;
  font-family: 'Yeseva One', cursive;
  text-align: center;
  font-size: 3.5rem;
  color: white;
}

.tendencias #tendencias__titulo h2 {
  font-size: 3.5rem;
}

.tendencias .tendencias__cards {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 5rem 8rem 5rem;
}

.tendencias .tendencias__cards .tendencias__cards__row {
  width: 200px;
  height: 417.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tendencias .tendencias__cards .tendencias__cards__row .tendencias__cards__row__imagen {
  width: 20rem;
  height: 28rem;
  border-radius: 8px;
}

.tendencias .tendencias__cards .tendencias__cards__row .tendencias__cards__row__titulo {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1rem 0rem 0rem 0rem;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.tendencias .tendencias__cards .tendencias__cards__row .tendencias__cards__row__descripcion {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Yeseva One', cursive;
}

.tendencias__cards__row__titulo:hover {
  text-decoration: underline;
}

.cuidado {
  text-align: center;
}

.cuidado #cuidado__titulo {
  display: block;
  margin: 8rem auto 3.6rem;
  font-size: 3.5rem;
  font-family: 'Yeseva One', cursive;
}

.cuidado #cuidado__titulo .cuidado__grid {
  padding-left: 15px;
  padding-right: 15px;
}

.cuidado #cuidado__titulo .cuidado__grid .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.cuidado #cuidado__titulo .cuidado__grid .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.cuidado__grid__card__contenido__descripcion {
  font-size: 2rem;
  line-height: 2.3rem;
  font-family: 'Yeseva One', cursive;
  padding: 1.2rem 0rem 0.5rem;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.cuidado__grid__card__contenido__autor {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0rem 0rem 5.5rem;
}

.cuidado__grid__card__contenido {
  min-height: 110px;
  position: relative;
}

.columna1 {
  margin-right: 5rem;
}

.cuidado__grid__card__contenido__descripcion:hover {
  color: #e69e98;
}

.descarga {
  background-color: #95D4C2;
  text-align: center;
}

.descarga .descarga__titulo {
  display: block;
  color: white;
  margin: 8rem auto 3.6rem;
  padding: 3rem 0rem 2rem;
  font-size: 3.5rem;
  font-family: 'Yeseva One', cursive;
}

.descarga .descarga__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 7rem;
  /*BUCLE*/
  /*EACH*/
}

.descarga .descarga__container .descarga__container__cuadrado1 {
  width: 409px;
  height: 409px;
  background-color: white;
}

.descarga .descarga__container .descarga__container__cuadrado2 {
  width: 409px;
  height: 409px;
  background-color: white;
}

.descarga .descarga__container .mockup-imagen {
  background-image: url("../imagenes/mockup.jpg");
  background-position: center;
  background-size: cover;
}

.descarga .descarga__container .icono-imagen {
  background-image: url("../imagenes/icono.jpg");
  background-position: center;
  background-size: cover;
}

.descarga .descarga__container .mockup-imagen {
  border-radius: 8px 0px 0px 8px;
}

.descarga .descarga__container .icono-imagen {
  border-radius: 0px 8px 8px 0px;
  background-size: 25rem 25rem;
  background-repeat: no-repeat;
}

.botonLarge__descarga {
  margin-bottom: 5rem;
  background-color: #436447;
  border: 1px solid #436447;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(44.79%, #4F7854), to(#365239));
  background: linear-gradient(180deg, #4F7854 44.79%, #365239 100%);
  border-radius: 8px;
  width: 31.6rem;
  height: 4.9rem;
  color: whitesmoke;
  font-weight: 500;
  font-size: 1.6rem;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.botonLarge__descarga:hover {
  -webkit-transform: translate(0.6rem);
          transform: translate(0.6rem);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(44.79%, #4F7854), to(#365239));
  background: linear-gradient(180deg, #4F7854 44.79%, #365239 100%);
  color: white;
}

/*Productos*/
.productos-promocion__contenedor {
  position: relative;
}

.boton-banner {
  position: absolute;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.productos-promocion__imagen {
  background-image: url(../imagenes/header-productos.jpeg);
  background-position: center;
  width: 100%;
  height: 50rem;
}

#botonFlecha {
  -webkit-animation: bounce 2s;
          animation: bounce 2s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#botonFlecha .icono-flecha {
  width: 45px;
}

.titulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subtitulo-seccion--producto {
  position: absolute;
  font-family: 'Yeseva One', cursive;
  font-weight: 500;
  text-align: center;
  font-size: 5.2rem;
  margin: 7rem 0rem 3rem 0rem;
}

.bajada-producto {
  margin: 15rem 0rem 8rem 0rem;
  width: 55rem;
  font-size: 20px;
  line-height: 27px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.compra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 18rem 5rem 18rem;
}

.compra .compra__filtros {
  font-family: 'Yeseva One', cursive;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 27px;
  border-radius: 4px;
  text-align: center;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.compra .compra__filtros p {
  margin-top: 11px;
}

.compra__filtros:hover {
  background: #C9D781;
  color: #436447;
}

.producto-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (28rem)[4];
      grid-template-columns: repeat(4, 28rem);
  -ms-grid-rows: (40rem)[3];
      grid-template-rows: repeat(3, 40rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-column-gap: 1.6rem;
  grid-row-gap: 9rem;
  margin-left: 8rem;
  padding: 0rem 0rem 5rem;
}

.producto-cards article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 259px;
  height: 397px;
  background-color: transparent;
  padding: 1rem;
}

.producto-cards article .producto-cards__rating {
  padding-top: 5rem;
  margin: 0rem;
  background-image: url(../imagenes/estrellas.png);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 10rem;
}

.producto-cards article img {
  border-radius: 8px;
}

.producto-cards article .producto-cards__marca {
  font-size: 1.7rem;
  line-height: 3rem;
  font-family: 'Yeseva One', cursive;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.producto-cards article .producto-cards__descripcion {
  font-size: 1.5rem;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.producto-cards__compra {
  text-decoration: none;
  color: black;
}

.producto-cards__compra:hover {
  color: black;
}

.producto-cards__marca:hover {
  color: #EDA7A2;
}

.producto-cards__descripcion:hover {
  text-decoration: underline;
}

/*Comprar*/
.mainSection {
  padding: 7rem 0rem;
}

.carousel-dark {
  height: 70rem;
  width: 40rem;
}

.carousel-control-next,
.carousel-control-prev {
  top: -20rem;
}

.columnaIz {
  margin-right: -11rem;
}

.carousel-indicators {
  bottom: 20rem;
}

.productoContainer {
  padding: 3rem 0rem 0rem;
}

.tituloCompra {
  font-size: 2.7rem;
  line-height: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Yeseva One', cursive;
}

.bajadaCompra {
  font-size: 1.7rem;
  line-height: 3rem;
}

.precioCompra {
  margin-top: 1rem;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 300;
}

.botonLarge_Compra {
  margin: 2rem 0rem;
  background-color: white;
  border: 1px solid #436447;
  border-radius: 8px;
  width: 31.6rem;
  height: 4.9rem;
  color: #436447;
  font-weight: 500;
  font-size: 1.6rem;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.botonLarge_Compra:hover {
  -webkit-transform: translate(0.6rem);
          transform: translate(0.6rem);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(44.79%, #4F7854), to(#365239));
  background: linear-gradient(180deg, #4F7854 44.79%, #365239 100%);
  color: white;
}

.accordion-button {
  color: #562923;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: 'Yeseva One', cursive;
}

.accordion-button:not(.collapsed) {
  color: #562923;
  background-color: #c9d7818c;
}

.accordion-body {
  font-size: 1.3rem;
}

/*Blog*/
#menuBlog {
  background-color: #C9D781;
  -webkit-filter: drop-shadow(0px 6px 8px rgba(0, 0, 0, 0.17));
          filter: drop-shadow(0px 6px 8px rgba(0, 0, 0, 0.17));
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

#recuadroVerde_blog {
  width: 100%;
  height: 28.2rem;
  background: #C9D781;
  -webkit-box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.17);
}

#recuadroVerde_blog .subtitulo-seccion--blog {
  font-family: 'Yeseva One', cursive;
  font-weight: 500;
  text-align: center;
  font-size: 5.2rem;
  padding: 8rem 26rem 3rem 26rem;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10rem 30rem 5rem 30rem;
}

.blog .blog__filtros {
  font-family: 'Yeseva One', cursive;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 27px;
  width: 232px;
  height: 30px;
  border-radius: 4px;
  text-align: center;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.blog__filtros:hover {
  background: #C9D781;
  color: #436447;
}

.blog-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.blog-cards .blog-cards__imagen {
  margin-left: 5.5rem;
  height: 270px;
  width: 415px;
  border-radius: 8px;
}

.blog-cards .blog-cards__descripcion {
  font-family: 'Yeseva One', cursive;
  margin-left: 5.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
  padding: 1.2rem 0rem 0.5rem;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.blog-cards .blog-cards__autor {
  margin-left: 5.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
  padding: 0rem 0rem 12rem;
}

.blog-cards__descripcion:hover {
  color: #e69e98;
}

/*media queries*/
@media only screen and (max-width: 992px) {
  .imagen__home .imagen__home__mano {
    margin-right: 0;
    width: 40rem;
    height: 68rem;
    margin-left: 52.5%;
    margin-top: -116px;
    margin-bottom: 104px;
  }
  .navegacion li a {
    font-size: 2rem;
  }
  .titulo__principal {
    font-size: 4.6rem;
  }
  .tendencias .tendencias__cards {
    text-align: left;
    padding: 0rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tendencias .tendencias__cards .tendencias__cards__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 450px;
    height: 350px;
    position: relative;
  }
  .tendencias__cards__row__titulo {
    margin-top: 3rem;
    position: absolute;
    left: 23rem;
  }
  .tendencias__cards__row__descripcion {
    margin-right: 15px;
    max-width: 30%;
    margin-top: 11rem;
    position: absolute;
    left: 23rem;
  }
  .tendencias__cards__row__imagen {
    margin: 3rem 0rem;
  }
  .cuidado__grid__card__contenido__descripcion {
    margin-left: 69px;
    width: 320px;
  }
  .cuidado__grid__card__contenido__autor {
    margin-left: 69px;
    width: 320px;
  }
  .producto-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (28rem)[3];
        grid-template-columns: repeat(3, 28rem);
    -ms-grid-rows: (40rem)[3];
        grid-template-rows: repeat(3, 40rem);
    grid-column-gap: 1.6rem;
    grid-row-gap: 9rem;
    margin-left: 0rem;
  }
  .bajada-producto {
    margin: 15rem 0rem 8rem 0rem;
    width: 50rem;
  }
  .columnaIz {
    margin-right: 12rem;
  }
  .compra .compra__filtros {
    font-size: 15px;
  }
  .subtitulo-seccion--producto {
    font-weight: 500;
    text-align: center;
    font-size: 4.2rem;
    width: 49rem;
    margin: 3rem 26rem 3rem 24.5rem;
  }
  #recuadroVerde_blog .subtitulo-seccion--blog {
    padding: 8rem 12rem 3rem 12rem;
  }
  .blog {
    margin: 10rem 12rem 5rem 12rem;
  }
  .blog .blog__filtros {
    font-size: 15px;
    width: 23.2rem;
    height: 3rem;
  }
  .blog-cards .blog-cards__imagen {
    margin: 1rem 1rem;
  }
  .blog-cards .blog-cards__descripcion {
    margin-left: 0rem;
  }
  .blog-cards .blog-cards__autor {
    margin-left: 0rem;
  }
  .formularios {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .formularios .formulariosPiel_inicio h1 {
    font-size: 3.4rem;
    margin-left: 0rem;
  }
  .formularios .formulariosPiel_inicio p {
    font-size: 1.8rem;
    margin-left: 0rem;
  }
  .formularios .subtitulosInput {
    margin-left: 0rem;
    font-size: 3rem;
  }
  .botonLarge {
    margin-left: 0rem;
  }
  #videoDada {
    margin: 8rem 0rem 15rem 5.5rem;
    width: 45rem;
    height: 30rem;
  }
  .formulariosPiel_inicio {
    margin: 8rem 1rem 12rem -5rem;
  }
  .subtitulosInput {
    font-size: 2rem;
  }
  .formularios #mail, .formularios #password {
    margin-left: 0rem;
  }
  .formularios .imagenLogin {
    height: 40rem;
    width: 40rem;
    margin: 8rem 4rem 15rem -0.5rem;
  }
  .formularios .datosLogin {
    margin-left: 0rem;
  }
  .formularios .recuerdame {
    margin-left: 0rem;
  }
  .error {
    margin: 0rem 9rem 0rem 9rem;
  }
  .error .error__contenedor .error__contenedor__titulo {
    font-size: 3.3rem;
  }
  .error .error__contenedor .error__contenedor__subtitulo {
    font-size: 2.3rem;
  }
  .error .error__contenedor .error__contenedor__descripcion {
    font-size: 1.8rem;
  }
  .error .error__imagen {
    width: 40rem;
    height: 40rem;
  }
  .footer__logo {
    width: 15%;
    margin-left: 80%;
    margin-top: -6rem;
  }
}

@media only screen and (max-width: 576px) {
  body {
    overflow-x: hidden;
  }
  .navegacion {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 10vh;
    background-color: #EDA7A2;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    display: flex;
    flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    align-items: center;
  }
  .navegacion li {
    opacity: 1;
  }
  .hamburguesa {
    display: block;
    cursor: pointer;
  }
  .imagen__home__mano {
    visibility: hidden;
  }
  #logoPrincipal {
    width: 10rem;
    padding: 3rem 0rem;
  }
  .titulo__principal {
    font-size: 4.3rem;
  }
  .texto__principal {
    font-size: 1.7rem;
  }
  .cuidado__grid__card__contenido__descripcion {
    margin-left: 49px;
    width: 370px;
  }
  .cuidado__grid__card__contenido__autor {
    margin-left: 69px;
    width: 320px;
  }
  .descarga .descarga__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .descarga .descarga__container .icono-imagen {
    border-radius: 0px;
    width: 100%;
  }
  .descarga .descarga__container .mockup-imagen {
    border-radius: 0px;
    width: 100%;
  }
  .columna1 {
    margin: 10px;
  }
  .bajada-producto {
    margin: 15rem 0rem 8rem 0rem;
    width: 45rem;
    font-size: 1.8rem;
  }
  .subtitulo-seccion--producto {
    font-weight: 500;
    text-align: center;
    font-size: 4rem;
    width: 45rem;
    margin: 3rem 4.5rem 3rem 4rem;
  }
  .compra {
    padding: 0rem 11rem 5rem 11rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .compra .compra__filtros {
    font-size: 15px;
    line-height: 1.3;
    width: 12rem;
  }
  .compra p {
    margin-top: 11px;
  }
  .articuloRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem 1rem;
  }
  .producto-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (20rem)[2];
        grid-template-columns: repeat(2, 20rem);
    -ms-grid-rows: (35rem)[3];
        grid-template-rows: repeat(3, 35rem);
    grid-column-gap: 1.6rem;
    grid-row-gap: 9rem;
    margin-bottom: 7rem;
  }
  .producto-cards article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 200px;
    height: 300px;
    border-radius: 8px;
    background-color: transparent;
    padding: 1rem;
  }
  .columnaIz {
    margin-right: 0rem;
    padding: 0rem 0rem;
  }
  .mainSection {
    padding: 0rem 0rem;
  }
  .carousel-dark {
    width: 100%;
    margin: 0;
  }
  .carousel-indicators {
    bottom: 8rem;
  }
  .carousel-control-next, .carousel-control-prev {
    top: -10rem;
  }
  .columnaDer {
    padding: 4rem 3rem 4rem 3rem;
  }
  .productoContainer {
    padding: 0rem;
  }
  .blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 6rem 5rem 5rem 5rem;
  }
  .blog-cards .blog-cards__descripcion {
    margin-left: 0rem;
  }
  .blog-cards .blog-cards__autor {
    margin-left: 0rem;
    padding: 0rem 0rem 6rem;
  }
  #recuadroVerde_blog .subtitulo-seccion--blog {
    font-weight: 500;
    text-align: center;
    font-size: 3.2rem;
    padding: 10rem 4rem 3rem 4rem;
  }
  .formularios {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formularios #videoDada {
    margin: 8rem 0rem 0rem 0rem;
  }
  .formularios .formulariosPiel_inicio {
    margin: 8rem 0rem 15rem 0rem;
  }
  .subtitulosInput {
    line-height: 4rem;
    font-size: 2.8rem;
  }
  .parrafos {
    font-size: 1.5rem;
    line-height: 1.2;
  }
  .formularios .datosLogin {
    margin-left: 0rem;
  }
  .botonLarge {
    width: 25rem;
    height: 4rem;
    font-size: 1.4rem;
  }
  .error {
    margin: 6rem 9rem 6rem 9rem;
  }
  .error .error__contenedor .error__contenedor__titulo {
    font-size: 3.3rem;
  }
  .error .error__contenedor .error__contenedor__subtitulo {
    font-size: 2.3rem;
  }
  .error .error__contenedor .error__contenedor__descripcion {
    font-size: 1.8rem;
  }
  .error .error__imagen {
    display: none;
  }
  .formularios .imagenLogin {
    margin: 8rem 0rem 0rem 0rem;
  }
  .footer__seguinos {
    font-size: 1.5rem;
    line-height: 3;
    margin-left: 5.5rem;
    padding: 2rem 3rem 0rem 0rem;
  }
  .footer__redes {
    margin-left: 5.5rem;
    height: 10%;
    width: 26%;
    display: inline;
  }
  .footer__logo {
    width: 18%;
    margin-left: 72%;
    margin-top: -5rem;
  }
}

.nav-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@-webkit-keyframes navegacionFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navegacionFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media only screen and (max-width: 375px) {
  .tendencias .tendencias__cards .tendencias__cards__row .tendencias__cards__row__titulo {
    padding: 1rem 9rem 0rem 0rem;
  }
  .tendencias__cards__row__descripcion {
    margin-top: 15rem;
  }
  .cuidado__grid__card__contenido__descripcion {
    margin-left: 0px;
  }
  .cuidado__grid__card__contenido__autor {
    margin-left: 23px;
  }
  .columna1 {
    margin-left: 0px;
    padding-left: 0px;
  }
  .columna2 {
    margin-left: 0px;
    padding-left: 0px;
  }
}
/*# sourceMappingURL=style.css.map */