* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* Por defecto es 100%, 62,5% cambia la base de 16px a 10px */
    overflow-y: scroll; 
    scroll-behavior: smooth; 
}

body {
    background-color: #FFFCFA;
    font-family: 'Heebo', sans-serif;
    overflow-x: hidden;
}

/* Navegación */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #EDA7A2;
    filter: drop-shadow(0px 6px 8px rgba(0, 0, 0, 0.17));
    position: sticky;
    top: 0px;
    z-index: 4;
}

dl, ol, ul {
    margin-bottom: 0px;
}

#logoPrincipal {
    width: 15rem;
}

.logo {
    margin-left: 5.5rem;
}

.navegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 68%;
    height: 146px;

    li {
        list-style: none;
    }

        a {
            text-decoration: none;
            font-family: 'Yeseva One', cursive;
            color: whitesmoke;
            font-size: 2.5rem;
            transition-property: all;
            transition-duration: 1s;
        }
}
 
.navegacion li a:hover {
    color: #562923;
    text-decoration: underline;
}

.hamburguesa {
    display: none;

    div {
        width: 25px;
        height: 3px;
        background-color: whitesmoke;
        margin: 5px;
    }
}

/*Tu piel*/

.formularios {
    display: flex;
    align-items: center;
    justify-content: center;

    #videoDada {
        margin: 8rem 5rem 15rem 5.5rem;
    }

    .formulariosPiel_inicio {
        margin: 11rem 0rem 15rem 0rem;

        h1 {
            font-family: 'Yeseva One', cursive;
            font-weight: 400;
            line-height: 5rem;
            font-size: 3.8rem;
            margin-left: 5.5rem;
        }

        p {
            font-size: 2rem;
            margin-left: 5.5rem;
            line-height: 1.5;
            margin-top: 1.5rem;
        }
    }
}

.botonLarge {
    margin-left: 5.5rem;
    margin-top: 3.5rem;
    background-color: white;
    border: 1px solid #436447;
    border-radius: 8px;
    width: 31.6rem;
    height: 4.9rem;
    color: #436447;
    font-weight: 500;
    font-size: 1.6rem;
    transition-property: all;
    transition-duration: 1s;
}

.botonLarge:hover {
    transform: translate(0.6rem);
    background: linear-gradient(180deg, #4F7854 44.79%, #365239 100%);
    color: white
}

/*Inicio sesion*/

.formularios {
    margin-bottom: 3rem;
    .imagenLogin {
        height: 55rem;
        width: 55rem;
    }

    .subtitulosInput {
        font-family: 'Yeseva One', cursive;
        margin-left: 5.5rem;
        font-size: 4rem;
    }

    .datosLogin {
        margin-left: 5.5rem;
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }

    #mail, #password{
        margin-left: 5.5rem;
        border: 2px solid rgba(0, 0, 0, 0.23);
        border-radius: 8px;
        width: 316px;
        height: 48px;
        text-align: center;
    }

    .recuerdame {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1.5rem;
        margin-left: 5.5rem;
        border: none;

        fieldset h4 {
            margin-left: 5.5rem;
        }

        #check {
            margin-left: 1.5rem;
        }
    }
}

/*Error 404*/

.error {
    display: flex;
    justify-content: center;
    align-items: center;

    .error__imagen {
        width: 60rem;
        height: 60rem;
        filter: drop-shadow(0px 6px 8px rgba(0, 0, 0, 0.17));
        margin: 1rem 7rem 3rem 0rem;
    }

    .error__contenedor {
        width: 43.4rem;

        .error__contenedor__titulo {
            font-family: 'Yeseva One', cursive;
            font-size: 5.3rem;
            padding: 0rem 0rem 4rem 0rem;
        }

        .error__contenedor__subtitulo {
            font-family: 'Yeseva One', cursive;
            font-size: 3rem;
            padding-bottom: 3rem;
        }

        .error__contenedor__descripcion {
            font-size: 2rem;
            width: 30rem;
            line-height: 1.2;
        }
    }
}

.botonLarge_Error {
    margin-top: 2.5rem;
    background-color: white;
    border: 1px solid #436447;
    border-radius: 8px;
    width: 31.6rem;
    height: 4.9rem;
    color: #436447;
    font-weight: 500;
    font-size: 1.6rem;
    transition-property: all;
    transition-duration: 1s;
}

.botonLarge_Error:hover {
    transform: translate(0.6rem);
    background: linear-gradient(180deg, #4F7854 44.79%, #365239 100%);
    color: white
}

/* Footer */

.footer{
    background-color: #EDA7A2;
    width: 100%;
    height: 211px;

    .footer__seguinos {
        color: #562923;
        font-size: 2rem;
        font-weight: 700;
        line-height: 4;
        margin-left: 5.5rem;
    }

    .footer__redes {
        margin-left: 5.5rem;
        height: 10%;
        width: 26%;
        display: inline;
    }
}

.footer__logo {
    width: 10%;
    margin-left: 60%;
}